* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  color: #333;
  animation: fade 2s infinite;
}

@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
